.panel-container {
    height: 100vh;
    padding: 30px;
    position: relative;
}

.panel-title {
    font-family: "Poiret One", cursive;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

#like {
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all ease .5s;
    background-color: #e0e0e0;
    color: #061b31;
    z-index: 5;
}

#like.unliked {
    transform: scale(100%);
    background-color: #e0e0e0;
    color: #061b31;
}

#like.liked {
    transform: scale(120%);
    background-color: lightpink;
    color: floralwhite;
}

.heart-canvas {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}