:root {
    --base-transform: 100%;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 20px;
    position: relative;
}

.contact-form {
    height: fit-content;
    background-color: rgba(255, 175, 175, 0.5);
    border-radius: 10px;
    padding: 3em;
    box-shadow: 0 0 10px 1px white;
}

form div, legend {
    margin-bottom: 2%;
    text-align: center;
}

input {
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    background-color: rgba(255,86,79,0.3);
    backdrop-filter: blur(10px);
    border-style: dashed;
}

#submit-button {
    transition: border-width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    max-width: 30%;
    font-size: 16pt;
    border-radius: 50px;
    border-width: 1px;
}

#submit-button:hover {
    border-width: 3px;
}

input:hover {
    background-color: pink;
}

.form-title {
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
    font-family: "Poiret One", cursive;
    font-weight: bold;
}

textarea {
    border-color: #061b31;
}

input::placeholder {
    font-style: italic;
    font-weight: bold;
}

main {
    background: linear-gradient(to bottom right, gray, pink);
}

.videoframe {
    width: 100%;
    height: 100%;
}

#glass1, #glass2, #glass3, #glass4, .contact-form::before {
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 1px white;
}

#glass1 {
    z-index: 1;
    top: 300px;
    left: 5px;
    animation: ease 10s 1s movement alternate infinite;
    --transform: 30%;
}

#glass2 {
    left: 700px;
    animation: ease 10s 5s movement alternate infinite;
    --transform: 30%;
}

.contact-form::before {
    content: '';
    z-index: 1;
    left: 45%;
    top: 50%;
    width: 300px;
    height: 300px;
}

#glass4 {
    z-index: 1;
    left: 5%;
    top: -3%;
    animation: ease 10s 10s movement alternate infinite;
}

@keyframes movement {
    from {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(calc(var(--base-transform) / 2));
    }
    to {
        transform: translateY(calc(var(--base-transform) / -3));
    }
}