@import url(header.css);
@import url(form.css);


.nintendo-div-flex {
    display: flex;
    flex-direction: row;
}

body {
    margin: 0;
    min-width: fit-content;
}

section {
    padding: 5px 30px;
}

.gallery {
    margin: 0 auto;
    width: 100%;
}

.gallery img {
    max-width: 25vw;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    outline: #061b31 2px dotted;
    margin: 5px;
    object-fit: cover;
}

h2 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Poiret One", cursive;
}

a {
    text-decoration-line: none;
    color: white;
    text-shadow: black 0 0 7px;
}

a.console-link {
    font-weight: bolder;
    text-shadow: white 0 0 15px;
}

a#xbox-link:hover {
    color: #28e029;
}

a#nintendo-link:hover {
    color: #e0170e;
}

.image-link-wrap {
    display: inline;
}

.switch-image {
    border: white solid 3px;
    box-shadow: white 2px 2px 7px;
    align-self: flex-end;
}

.nintendo-list {
    flex: 10%;
    flex-grow: 3;
}

.anchor-dd-image, .dd-image {
    max-width: 20%;
}

.dd-image-clickable {
    max-width: 100%;
}

dl {
    display: flex;
    margin-right: 0;
    flex-direction: column;
    margin-block-start: 0;
    margin-block-end: 0;
}

dt {
    font-size: 30px;
    color: white;
    font-weight: lighter;
}

dd {
    background: #061b31;
    border: black 2px solid;
    border-radius: 10px;
    padding: 5px;
    box-shadow: black 3px 3px 3px;
    text-align: justify;
    margin-right: 0;
    row-gap: 5px;
    width: 100%;
}

dd img {
    padding: 20px;
    float: left;
}

footer {
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.ps-div {
    background: linear-gradient(to bottom, #3B353E 5%, #00A5FF 85%);
}

.nintendo-div {
    background: linear-gradient(to bottom right, darkred, red);
}

.xbox-div {
    background: linear-gradient(to bottom left, greenyellow, limegreen);
}

.console-div {
    color: #e0e0e0;
    padding: 20px;
}

.switch-quote-and-img {
    display: inline-flex;
    flex-direction: column;
}

h2 + p {
    font-size: 20px;
}

em ~ i {
    text-decoration-line: underline;
}

div.section-divider {
    color: black;
    height: 5px;
    margin: 0;
    border: none;
    background-color: black;
}

.up-link {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 50;
}

.ps-logo {
    float: right;
}

blockquote {
    text-align: right;
    margin-top: 0
}

@media screen and (max-width: 480px) {
    main {
        display: flex;
    }

    .nintendo-div-flex {
        flex-direction: column;
    }

    .switch-image {
        align-self: center;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery img {
        max-width: 100vw;
    }
}