@import url(header.css);
@import url(form.css);


.nintendo-div-flex {
    display: flex;
    flex-direction: row;
}

body {
    margin: 0;
    min-width: fit-content;
    width: 100%;
}

section {
    padding: 5px 30px;
}

.gallery img {
    overflow: hidden;
    align-self: center;
    justify-self: center;
    outline: #061b31 2px dotted;
    object-fit: cover;
    height: 500px;
}

h2 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Poiret One", cursive;
}

a {
    text-decoration-line: none;
    color: white;
    text-shadow: black 0 0 7px;
}

a.console-link {
    font-weight: bolder;
    text-shadow: white 0 0 15px;
}

#ps-link {
    transition: all ease 1s;
}

#ps-link:hover {
    letter-spacing: 10px;
}

span {
    display: inline-block;
}

dd span {
    display: inline;
}

#ps-link::before {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: ghostwhite;
    transform: scaleX(0);
    transition: ease-in-out all .5s;
}

#ps-link::after {
    content: '';
    width: 100%;
    height: 0.5px;
    display: block;
    background-color: ghostwhite;
    transform: scaleX(0);
    transition: ease-in-out all .5s;
}

#ps-link:hover::before {
    transform: scaleX(1);
}

#ps-link:hover::after {
    transform: scaleX(1);
}

a#xbox-link:hover {
    color: #28e029;
}

a#xbox-link {
    padding: 3px;
    display: inline-block;
    background-color: darkgreen;
    box-shadow: #061b31 5px 5px;
    transition: all ease-in-out .5s;
}

a#xbox-link:hover {
    box-shadow: #e0e0e0 10px 10px;
    transform: skewX(-5deg);
}

a#nintendo-link:hover {
    color: whitesmoke;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

a#nintendo-link {
    padding: 3px;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

a#sega-link {
    text-align: center;
    display: inline-block;
    padding: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 5px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
}

a#sega-link::before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : #fff;
    left: -65px;
    top: -40px;
    transform: rotate(45deg);
    transition: all .3s;
    opacity: 0.3;
}

a#sega-link:hover::before {
    left: 95%;
}

a#sega-link:hover {
    text-shadow: whitesmoke;
}

.image-link-wrap {
    display: inline;
}

.switch-image {
    border: white solid 3px;
    box-shadow: white 2px 2px 7px;
    align-self: flex-end;
}

.nintendo-list {
    flex: 10%;
    flex-grow: 3;
}

.anchor-dd-image, .dd-image {
    max-width: 20%;
}

.dd-image-clickable {
    max-width: 100%;
}

dl {
    display: flex;
    margin-right: 0;
    flex-direction: column;
    margin-block-start: 0;
    margin-block-end: 0;
}

dt {
    font-size: 30px;
    color: white;
    font-weight: lighter;
}

dd {
    background: #061b31;
    border: black 2px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: black 3px 3px 3px;
    text-align: justify;
    margin-right: 0;
    row-gap: 5px;
    width: 100%;
}

dd img {
    padding: 20px;
    float: left;
}

footer {
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.ps-div {
    background: linear-gradient(to bottom, #3B353E 5%, #00A5FF 85%);
}

.nintendo-div {
    background: linear-gradient(to bottom right, darkred, red);
}

.xbox-div {
    background: linear-gradient(to bottom left, #729935, limegreen);
}

.console-div {
    color: #e0e0e0;
    padding: 20px;
}

.switch-quote-and-img {
    display: inline-flex;
    flex-direction: column;
}

h2 + p {
    font-size: 20px;
}

em ~ i {
    text-decoration-line: underline;
}

div.section-divider {
    color: black;
    height: 5px;
    margin: 0;
    border: none;
    background-color: black;
}

.up-link {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 50;
}

.ps-logo {
    float: right;
}

blockquote {
    text-align: right;
    margin-top: 0
}

.notification {
    z-index: 6;
    position: fixed;
    left: 50px;
    top: 125px;
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom right, pink, mediumpurple);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: 2px solid black;
    transition: all 1s ease-in-out;
}

.notification-list div {
    width: 100%;
}

.notification div {
    padding-top: 10px;
    font-size: large;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow: #061b31 0 0 5px;
}

.notification-list {
    display: none;
    flex-direction: column;
}

.notification:hover {
    width: 300px;
    height: 350px;
    border-radius: 10%;
}

.notification div:hover ~ .notification-list {
    display: inline-flex;
    animation: notif-hover ease-in 1s 1s both;
    opacity: 0;
}

.notification:hover .notification-list {
    display: inline-flex;
    animation: notif-hover ease-in 1s 1s both;
    opacity: 0;
}

@keyframes notif-hover {
    from {
        display: inline-flex;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.gallery {
    display: flex;
    flex-direction: row;
    max-width: 95vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery div {
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .3s;
}

.gallery div:hover {
    transform: translateY(-30px);
}

.gallery div img:hover ~ div, .gallery div div:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.gallery div div {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: all ease-in-out .5s;
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #303030, rgba(48,48,48,0));
    padding: 20px 10px 10px 10px;
}

h4 {
    color: whitesmoke;
}

h4 ~ p {
    color: whitesmoke;
}

.ps5-commercial {
    margin: 0 auto;
}

.video-container {
    position: relative;
    overflow: hidden;
}

.video-container div {
    visibility: hidden;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 80%;
    width: 300px;
    height: 55vh;
    background: radial-gradient(circle at top left, mediumblue, blue);
    overflow: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all ease-in-out 1s;
}

.video-container:hover div {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.video-container:hover div h4, .video-container:hover div p {
    animation-name: slide-in;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.video-container:hover div h2 {
    animation-delay: 1s;
}

.video-container:hover div p {
    animation-delay: 1.5s;
}

.video-container div h4, .video-container div p {
    opacity: 0;
    animation: slide-out ease-out 1.5s both 1;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    to {
        transform: translateX(100%);
        opacity: 0;
    }
    from {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    main {
        display: flex;
    }

    .nintendo-div-flex {
        flex-direction: column;
    }

    .switch-image {
        align-self: center;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .video-container {
        max-width: 100%;
    }

    .video-container video {
        width: 100%;
        object-fit: cover;
    }

    .video-container div {
        left: 60%;
    }
}

.social-links {
    display: flex;
    background-color: inherit;
    width: 100%;
    padding-bottom: 15px;
    justify-content: space-around;
}

.social {
    border-radius: 50%;
    border: 0;
    height: 50px;
    width: 50px;
    background: mediumpurple;
    position: relative;
    overflow: hidden;
}

.social::before {
    content: '';
    z-index: 0;
    background: linear-gradient(to bottom, white, pink);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform .5s ease;
}

.social:hover::before {
    transform: translateY(0);
}

.social img {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
}

footer h4, footer div, footer address {
    padding: 0 30px;
}