.card-nobootstrap {
    z-index: 7;
    transition: all .5s ease;
}

.card-panel {
    right: 0;
}

.card-nobootstrap:hover {
    transform: translateZ(10px) scale(120%);
    filter: none;
}

.cards-container:has(.card-nobootstrap:hover) .card-nobootstrap:not(:hover) {
    filter: blur(10px);
}

@media screen and (max-width: 800px) {
    .card-panel {
        right: -15%;
    }
}