#first-title {
    margin-bottom: 7px;
    font-size: 30px;
    color: #e0e0e0;
    text-transform: lowercase;
    top: 50%;
    vertical-align: middle;
}

.flex-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: inline-flex;
    width: 100%;
}

header, footer {
    padding: 10px 30px;
    background: rgba(0,0,0,0.84);
    max-height: 256px;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100%;
    padding: 10px 20px 20px 20px;
}

a.btn.btn-light:visited {
    background-color: gray;
}

a.btn-light:hover {
    box-shadow: white 0 0 7px;
}

a.btn-light[href="#ps-section"]:hover {
    background-color: #070CF6;
    outline-color: #070CF6;
}

a.btn-light[href="#nintendo-section"]:hover {
    background-color: #e0170e;
    outline-color: #e0170e;
}

a.btn-light[href="#xbox-section"]:hover {
    background-color: #28e029;
    outline-color: #28e029;
}

a.btn.btn-light:active {
    background-color: mediumpurple;
    color: white;
}